<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.supernova8.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-RegularItalic.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-MediumItalic.ttf</string>
		<string>Oswald-Extra-LightItalic.ttf</string>
		<string>Oswald-BoldItalic.ttf</string>
		<string>Oswald-Demi-BoldItalic.ttf</string>
		<string>Oswald-DemiBold.ttf</string>
		<string>Oswald-Extra-LightItalic.ttf</string>
		<string>Oswald-Extra-Light.ttf</string>
		<string>Oswald-Heavy.ttf</string>
		<string>Mf Queen Leela.ttf</string>
		<string>Marvel-Bold.ttf</string>
		<string>Oswald-LightItalic.ttf</string>
		<string>Marvel-BoldItalic.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Marvel-Italic.ttf</string>
		<string>HoneyScript-Light.ttf</string>
		<string>Marvel-Regular.ttf</string>
		<string>KGManhattanScript.ttf</string>
		<string>VarickaLC.ttf</string>
		<string>HoneyScript-SemiBold.ttf</string>
		<string>Movies.ttf</string>
		<string>VarickaSC.ttf</string>
		<string>Montepetrum bold.ttf</string>
		<string>Montepetrum regular.ttf</string>
		<string>clingy.ttf</string>
		<string>Montepetrum Thin.ttf</string>
		<string>GreatVibes-Regular.otf</string>
		<string>Munich.ttf</string>
		<string>goudy_bookletter_1911-webfont.ttf</string>
		<string>HaloHandletter.ttf</string>
		<string>MarketingScript.ttf</string>
		<string>PR8 Charade.ttf</string>
		<string>Big Surprise.ttf</string>
		<string>black_jack.ttf</string>
		<string>budmo jiggler.ttf</string>
		<string>daisy.ttf</string>
		<string>Demo_Delinquente_altl.ttf</string>
		<string>gnuolane rg.ttf</string>
		<string>BEBAS___.ttf</string>
		<string>BebasNeue Bold.ttf</string>
		<string>BebasNeue Book.ttf</string>
		<string>BebasNeue Light.ttf</string>
		<string>BebasNeue Regular.ttf</string>
		<string>BebasNeue Thin.ttf</string>
		<string>AbrahamLincoln.ttf</string>
		<string>Pacifico.ttf</string>
		<string>Oswald-HeavyItalic.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
